<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="FontName" value="Anuyart Regular" />
    <add key="version" value="1.1" />
    <add key="buildDate" value="19 NOV 2021" />
    <add key="LocationCode" value="1" />
    <add key="BuildingCode" value="1" />
    <add key="FloorCode" value="1" />
    <add key="LocationCode_" value="11" />
    <add key="BuildingCode_" value="10" />
    <add key="FloorCode_" value="15" />
    <add key="KioskCode" value="station01" />
    <add key="NodeType" value="KIOSK" />
    <add key="NodeIP" value="1.1.1.1" />
    <add key="isDebug" value="true" />
    <add key="TimeoutPanelEntry" value="10" />
    <add key="TimeoutPanelCustomerEnterIDcard" value="45" />
    <add key="TimeoutPanelTC" value="120" />
    <add key="TimeoutPanelScanQR" value="120" />
    <add key="TimeoutPanelResendQR" value="45" />
    <add key="TimeoutPanelEntryOTP" value="75" />
    <add key="TimeoutPanelEntryQR" value="75" />
    <add key="TimeoutPanelDisplayProject" value="130" />
    <add key="TimeoutPanelDisplayError" value="30" />
    <add key="TimeoutPanelPrivacyMarketing" value="120" />
    <add key="TimeoutPanelPrivacySensitive" value="120" />
    <add key="TimeoutPanelWelcomeToTrueIDC" value="130" />
    <add key="TimeoutPanelReturnCard" value="30" />
    <add key="TimeoutPanelReturnCardSuccess" value="30" />
    <add key="TimeoutPanelSelectProject" value="45" />
    <add key="ResendOTPCount" value="30" />
    <add key="ResendQRCount" value="35" />
    <add key="RFID_READER_COMPORT" value="COM3" />
    <add key="FEEDDEVICE_COMPORT" value="COM2" />
    <add key="BAUT" value="9600" />
    <add key="SERVER_API_URL_" value="https://localhost:44322" />
    <add key="SERVER_API_URL" value="http://49.0.82.124:8009" />
    <add key="SERVER_API_URL_" value="https://10.80.1.170" />
    <!-- กำหนดระยะแนวตั้งของ keyboard -->
    <add key="KeyboardVerOffset" value="70" />
    <!-- กำหนดระยะแนวนอนของ keyboard -->
    <add key="KeyboardHorOffset" value="-100" />
    <!-- กำหนดระยะการแสดง background ของ keyboard -->
    <add key="KeyboardBgLeft" value="0" />
    <add key="KeyboardBgTop" value="140" />
    <!-- กำหนดระยแสดงซ้ายขวาของ numpad-->
    <add key="NumpadHorOffset" value="-340" />
    <add key="QRTIMEOUT" value="10" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>